<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzy.mtnj.mapper.system.UserMapper">
    <select id="getOne" resultType="com.lzy.mtnj.model.user.User">
         select * from Demo where id = #{id}
  </select>
</mapper>